<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Perfil do Usuário</title>
  <link rel="stylesheet" href="/stylesheets/usuario.css">
</head>
<body>
  <main class="main-usuario">
    <section class="usuario">
      <div class="usuario__cabecalho">
        <div class="usuario__icone">
          <span><%= user.nome[0] %></span>
        </div>
        <h1 class="usuario__nome"><%= user.nome %></h1>
        <p class="usuario__email"><%= user.email %></p>
      </div>

      <div class="usuario__conteudo">
        <div class="usuario__card">
          <h2>Dados Pessoais</h2>
          <ul class="usuario__lista">
            <li>
              <span class="usuario__lista-label">Nome:</span>
              <span class="usuario__lista-valor"><%= user.nome %></span>
            </li>
            <li>
              <span class="usuario__lista-label">CPF:</span>
              <span class="usuario__lista-valor"><%= user.cpf %></span>
            </li>
            <li>
              <span class="usuario__lista-label">Data de Nascimento:</span>
              <span class="usuario__lista-valor"><%= new Date(user.data_nasc).toLocaleDateString('pt-BR') %></span>
            </li>
            <li>
              <span class="usuario__lista-label">E-mail:</span>
              <span class="usuario__lista-valor"><%= user.email %></span>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</body>
</html>